body {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
}
#forgetPass:hover {
  color: #8b8b8d;
}
button {
  background-color: #3065e7;
  border-radius: 12px;
  height: 32px;
  padding: 10px;
  color: white;
}
input[type="text"] {
  border-radius: 5px;
  padding: 12px;
  width: 260px;
}
form {
  width: 300px;
  margin-top: 232px;
  margin-bottom: 232px;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}

form input[type="text"],
form input[type="button"] {
  margin-bottom: 10px;
}
